
.content-total {
    height: 80px;
    margin:15px;
    display: flex;
    justify-content: right;
}

.total {
    background-color: #FFF;
    height:80px;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;    
}

.table {
    background-color:  #a6d4a5;
    height: 300px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid;    
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table table td, th {
    border: 1px solid;
}

.content-vuelto {
    display: flex;
    margin:15px;
}

.vuelto {
    background-color: #FFF;
    border: 1px solid;
    border-radius: 10px;
    width: 200px;     
}

.btns {
    
    margin-left: 400px ;   
}

.btn-blue {
    background-color: rgb(17, 17, 172);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 10px;    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;  
}

.btn-red {
    background-color:#df3712;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 10px;
    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;
}

.parrafo {
    color: white;
    font-size:45px;
    text-transform: uppercase;
    font-weight: bold; 
    margin: 10px;  
}



/* Hacer que una imagen tome todo el div

background-image: url(logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
*/    