
.content-total {
    height: 80px;
    margin:15px;
    display: flex;
    justify-content: right;
}

.total {
    background-color: #f0f19f;
    height:80px;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}

.total-valor {
    font-size: 40px; 
    font-weight: bold; 
    color: rgba(0, 0, 0, 0.884); 
}

.content-table {
    background-color:  #a6d4a5;
    height: 300px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;    
}

.content-table table {
    width: 100%;
    border-collapse: collapse;
}

.content-table table th {
    border: 1px solid;
    text-align: center;
    background-color:#0d7728f5;
    color: black;
}

.content-table table td {
    border: 1px solid;
    text-align: center;
    font-weight: bold;       
}

.content-vuelto {
    display: flex;
    margin:15px;
 
}

.vuelto {
    background-color: #f0f19f;
    border: 1px solid;
    border-radius: 10px;
    width: 200px;  
    text-align: center;     
}

.vuelto-valor {
    
    font-size: 35px; 
    font-weight: bold; 
    color: rgba(0, 0, 0, 0.884); 
}

.input-barras {
    margin-left: 10px;

}

.cant {
    width: 100px;
}

.import {
    width: 100px;
}

.btns {
    
    margin-left: 200px ;
    display: flex;   
}

.btn-blue {
    background-color: rgb(17, 17, 172);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    margin: 10px;    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;  
}

.btn-red {
    background-color:#df3712;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    margin: 10px;
    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;
}

.parrafo {
    color: white;
    font-size:45px;
    text-transform: uppercase;
    font-weight: bold; 
    margin: 10px;  
}



/* Hacer que una imagen tome todo el div

background-image: url(logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
*/    