.content-prod {
    background-color:  #a6d4a5;
    height: 450px;
    margin: 20px 20px;
    border-radius: 5px;
    border: 1px solid;
    position: relative;
       
}

.form-prod {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   height: 300px;
   margin: auto;
   margin-top: 40px;
   padding: 10px;
   
}

.caja1 {
   
    width: 350px;
    height: 300px;
    margin: 20px;
    padding: 15px;
}
.caja2 {
   
    width: 350px;
    height: 300px;
    margin: 20px;
    padding: 15px;
}
.label {
    font-style: italic;
    font-size: 20px;
    font-weight: bold; 
}
.input {
    width: 300px;
    height: 35px;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #055318f5;
    border-radius: 10px;

}
.btns {
    position: absolute;
    top: 400px;
}
.btn-blue {
    background-color: rgb(17, 17, 172);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 10px;    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;  
}

.btn-red {
    background-color:#df3712;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 10px;
    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;
}