.content-table {
    background-color:   #a6d4a5;
    height: 480px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid; 
      
}

.content-table table {
    width: 100%;
    border-collapse: collapse;
}

.content-table table th {
    border: 1px solid;
    text-align: center;
    background-color:#0d7728f5;
    color: black;
}

.content-table table td {
    border: 1px solid;
    text-align: center;
    font-weight: bold;       
}

.btn-modi {
    text-decoration: none;
    background-color: #1253df;
    padding: 8px;
    margin: 1px;
    border-radius: 20px;
    border: 1px solid black;

}
.btn-modi a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-del {
    text-decoration: none;
    background-color: #df3712;
    padding: 8px;
    margin: 1px;
    border-radius: 20px;
    border: 1px solid black;

}
.btn-del a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

