
.content-user {
    background-color:  #a6d4a5;
    height: 450px;
    margin: 20px 20px;
    border-radius: 5px;
    border: 1px solid;
    position: relative;
       
}

.form-user {
    height: 300px;
    width: 50%; 
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.label {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    padding: 15px;    
}
.input {
    width: 300px;
    height: 35px;
    padding: 18px;
    border: 1px solid #055318f5;
    
    border-radius: 10px;

}
.btns {
    position: absolute;
    top: 400px;
}
.btn-blue {
    background-color: rgb(17, 17, 172);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 10px;    
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;  
}

.btn-red {
    background-color: #df3712;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;
}